

<div class="gameEnter" ng-controller="registerCtrl" >
<h3 style="text-align: center">游戏入口</h3>
    <form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="name" class="control-label col-sm-3">名称</label>
        <div class="col-sm-8">
        <input type="text" class="form-control" id="name" ng-model="login_name"
               placeholder="请输入名称">
    </div>
        </div>
    <div class="form-group" >
        <label for="name" class="control-label col-sm-3">密码</label>
        <div class="col-sm-8">
        <input type="text" class="form-control" id="password" ng-model="login_pass"
               placeholder="请输入密码">
            </div>
    </div>
        <div class="text-center">
    <button type="submit" class="btn btn-primary" ng-click="login_Sub()">登录</button>
        <button type="submit" class="btn btn-primary" ng-click="register()">注册</button>
      </div>
</form>

</div>
<div ng-controller="imageController" class="image">

<img ng-src="{{show_img}}">
</div>
<div class="news"><h3>新闻公告<small>Notices</small></h3>
<ol class="list-unstyled">
    <li><a href="#">[公告]2014年年度之星结果已出炉</a></li>
    <li><a href="#">[公告]元旦到，新年好礼等你来拿</a></li>
    <li><a href="#">[公告]IOS 越狱版发布</a></li>
    <li><a href="#">[公告]12月10日服务器维护通知</a></li>
    <li><a href="#">[公告]杀人游戏8.0新角色预告</a></li>
</ol>

</div>

<div class="experience">
    <h3 style="text-align: center">经验分享<small>experience</small></h3>
    <ol class="list-unstyled" style="margin-left: 50px">
        <li><a href="#">论7.0蝴蝶技巧</a></li>
        <li><a href="#">7.0谈判专家</a></li>
        <li><a href="#">7.0控场了囧么办</a></li>
        <li><a href="#">简单推理分辨警察与间谍</a></li>
        <li><a href="#">一些救命的小经验</a></li>
        <li><a href="#">游戏中的小知识</a></li>
        <li><a href="#">如何在被绑架后不被立刻撕票</a></li>
        <li><a href="#">警察如何查人</a></li>
    </ol>



</div>
<div class="playImg">
    <h3 style="text-align: center">玩家出境</h3>
    <div class="img"> <img src="img/6.jpg"></div>
    <div class="img"><img src="img/5.jpg"></div>
    <div class="img"> <img src="img/10.png"></div>
    <div class="img"> <img src="img/7.jpg"></div>
    <div class="img"> <img src="img/8.jpg"></div>
    <div class="img"> <img src="img/9.jpg"></div>


</div>

<div class="footer text-warning" style="text-align: center">
    抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活

</div>




