body {
    padding: 0;
    margin: 0;
    /*background-color: #000;*/
}
.main{
    color: #ffffff;
    margin: 0 auto;
    width: 65.5%;
    /*background-color: #000;*/
}
.mybar{

margin-bottom: 10px;
    width: 100%;
    border: solid 1px ;
    background-color: #222;
}
.gameEnter{
    float: left;
   margin: 0 auto;
    width: 30%;
    display: inline-block;
    border: solid 1px ;
    height: 235px;
    background-color: #222;
}

.image{
    float: right;
}
.news{
    color: #ffffff;
   text-align: center;
    float: left;
    margin-left: 8px;
    width: 35%;
    height: 235px;
    border: solid 1px;
    font-size: 19px;
    background-color: #222;
}
.experience{
    width: 50%;
    border: solid 1px;
    float: left;
margin-top: 10px;
    font-size: 19px;
    background-color: #222;
}

.playImg{
    width: 45%;
    border: solid 1px;
    float: right;
    margin-top: 10px;
    font-size: 19px;
    margin-bottom: 25px;
    background-color: #222;
}
.img{
    float: left;
    margin: 15px;
}
.footer{

    margin-bottom: 40px;
    clear: both;
}
.inner_main{

    width: 100%;
    height: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 30px;
}
.interface{
    margin: 0 auto;
    width: 750px;
    height: 500px;
    border: solid 1px;
}
.inner_room{
   border:  solid 1px red;
    width: 80%;
    height: 550px;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 30px;
}
.gamedesk{
  border:  solid 1px ;
    width: 72%;
    height: 600px;
    float: left;
    margin-left: 15px;
}

.room{
    float: left;
    width: 50%;
    border: solid 1px;
    height: 125px;

}
.room:hover{
    border: solid 3px ;
}

.roomlist{
    float:right;
    width: 70%;
    border: solid 1px;
    display: inline-block;
}
.playDetail{
    float:left;
    width: 20%;
    border: solid 1px;
    display: inline-block;
}


.roomImg{
    margin-left: 50px;
    margin-top: 25px;
    display: inline;
    float: left;
    height: 120px;
}
.user{
   margin: 15px 8px;
    float: left;
    height: 255px;
}
.user:hover{

    border: solid 1px #aaa;
}

.buttons{
    margin-top: 555px;
}
.white{
    width: 100%;
    height: 630px;
    background: url("img/112.jpg")  ;
}
.black{
    width: 100%;
    height: 630px;
    background: url("img/111.jpg")  ;
}
.talk{
    width: 25%;
    float: right;
}

.talkMessage{
    width: 90%;
    height: 300px;
    background-color: #fff;
    border: solid 1px ;
    margin-top: 1px;
overflow: auto;
}
.inform{
    width: 90%;
    height: 200px;
    border: solid 1px ;
  background-color: white;
}

.input{
    width: 90%;
    height: 40px;
    border: solid 1px ;
}
.textShow{
    font-size: 35px;
    text-align: center;
    z-index: 999;
    position: absolute;
    top:200px;
    left:350px;
    color: #ffff00;
}
.progress{
    margin-top:150px;
}






















































