body {
    padding: 0;
    margin: 0;
    background-color: #000;
}
.main{
    color: #ffffff;
    margin: 0 auto;
    width: 65.5%;
    background-color: #000;
}
.mybar{

margin-bottom: 10px;
    width: 100%;
    border: solid 1px ;
    background-color: #222;
}
.gameEnter{
    float: left;
   margin: 0 auto;
    width: 30%;
    display: inline-block;
    border: solid 1px ;
    height: 235px;
    background-color: #222;
}

.image{
    float: right;
}
.news{
    color: #ffffff;
   text-align: center;
    float: left;
    margin-left: 8px;
    width: 35%;
    height: 235px;
    border: solid 1px;
    font-size: 19px;
    background-color: #222;
}
.experience{
    width: 50%;
    border: solid 1px;
    float: left;
margin-top: 10px;
    font-size: 19px;
    background-color: #222;
}

.playImg{
    width: 45%;
    border: solid 1px;
    float: right;
    margin-top: 10px;
    font-size: 19px;
    margin-bottom: 25px;
    background-color: #222;
}
.img{
    float: left;
    margin: 15px;
}
.footer{

    margin-bottom: 40px;
    clear: both;
}



































































